.App {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.appState {
  width: 100%;
  height: 100%;
  font-size: 10rem;
}

.waiting,
.entering,
.sending,
.bad,
.good {
  width: 100%;
  height: 100%;
}

.waiting {
  background: green;
}

.entering {
  background: fuchsia;
}

.sending {
  background: yellow;
}

.bad {
  background: red;
}

.good {
  background: pink;
}

form {
  z-index: -1;
}
